---
layout: default
---


<div class="post-content">
  <h1>
    {{ page.title }}
  </h1>
  <h2>
  {% if page.description %}
    {% assign description = page.description %}
  {% endif %}
  </h2>
  {% if site.hide_post_date != true %}
    {% include post-date.html %}
  {% endif %}
    {% if site.hide_post_share != true %}
    {% include post-share.html %}
  {% endif %}
  {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}" alt= "{{ page.image_description }}" title= "{{ page.image_description }}">
    </div>
  {% endif %}
  <article>
    {{ content }}
  </article>
  {% if site.hide_post_share != true %}
    {% include post-share.html %}
  {% endif %}
  {% if page.applause_button %}
  <link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">
  <script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
{% endif %}
{% if page.applause_button %}
  <applause-button class="mb6"
    color={{ site.accent_color | default:'rgb(79,177,186)' }}
    url={{ site.url }}{{ page.url }} >
  </applause-button>
{% endif %}

  {% if site.hide_related_posts != true %}
    {% include related-posts.html %}
  {% endif %}
  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}
</div>
